/*
 * Assignment 02
 * CSS FILE
 */
 main {
  background-color:brown;}


h1, h2, h3, p, li, ul, ol{
  color:white;
  }  


a {
  color:pink;


}


.whitetext {
  color:white;
}
footer {
  background-color:white;
}  

.title {
  color: black;
}


.sitenav {
  color:black;
}


.ul {
  list-style-type:disc;
  padding: 3;
  margin-left: 12rem;
}


.formspacing {
  padding: 2;
  margin-left: 10rem;
  margin-right:10rem;
}


form {
  background-color:pink;
}


.center {
  text-align: center;
  margin-left:2rem;
  margin-right:2rem;
  display: flex;
  align-items:center;
  justify-content:space-evenly;
  flex-direction: column;
}

.hehe {
  display: flex;
  align-items:center;
  justify-content:space-around;
  flex-direction: row;
}

.img {
  display:flex;
  align-items:left;
  justify-content: space-evenly;
  flex-direction: row;
  border-radius: 2rem;
 }

.albumcovers {
  display:flex;
  align-items:left;
  justify-content: space-evenly;
  flex-direction: row;
  margin-right:1rem;
}

p, text, h1, h2, h3, h4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

